h1, h2, body, html, p, dl, dt, dd {
margin: 0;
padding: 0;
}

html {
    font: 28px Helvetica, Arial, sans-serif;
}

body {
    box-sizing: border-box;
    width: 680px;
    border: 2px solid black;
    padding: 12px 16px;
    margin: 8px;
}

h1 {
    font: bold 2rem "Franklin Gothic Heavy", "Arial Black", sans-serif;
}

h2 {
    border-top: 30px solid black;
    border-bottom: 1px solid black;
    margin: 5px 0;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0;
}

header dl {
    display: inline-block;
    border-bottom: 16px solid black;
    width: 50%;
    padding: 2px 0;
}

header dl:nth-of-type(1) dt{
    font-weight: bold;
}

header dl:nth-of-type(2) {
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}

th[colspan="3"] {
    text-align: right;
}

td, th {
    border-bottom: 1px solid black;
    padding: 2px 0;
}

th dt {
    font-weight: bold;
}

th[scope="row"] {
    text-align: left;
    font-weight: normal;
}

td.indent {
    width: 1em;
    border: none;
}

dt, dd {
    display: inline;
}

dd {
    font-weight: normal;
}

table:not(.daily_values) tbody:first-of-type td:last-of-type {
    text-align: right;
    font-weight: bold;
}

tbody:nth-of-type(2) td:last-of-type {
    text-align: right;
}

caption {
    margin-top: 12px;
    padding-left: 18px;
    font-size: .9rem;
    text-align: left;
    text-indent: -.75em;
    caption-side: bottom;
}

tbody + tbody {
    border-top: 20px solid black;
}

sup {
    vertical-align: text-top;
}

table.daily_values {
    font-size: .8rem;
}

table.daily_values td,
table.daily_values th {
    border: none;
    font-weight: normal;
}

table.daily_values td:nth-child(2) {
    text-align: center;
}

table.daily_values td:first-child {
    padding-left: 1.5em;
}

table.daily_values thead {
    border-bottom: 1px solid black;
}

table.daily_values th[scope="col"]:nth-child(1n+3) {
    text-align: left;
}
